<% for tank in @tanks %>
  <p>Name: <%= tank.name() %> </p>
  <p>Country of Origin: <%= tank.country_of_origin() %> </p>
  <p>Class: <%= tank.class() %></p>
  <p>Price: <%= tank.price() %> </p>
  <p>Img: <% tank.logo %></p>
  <p><a href="/tanks/<%= tank.id %>">Show Tank</a></p>
  <hr />
  <% end %>
